<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WeatherPy</title>
</head>

<body>
  <section>
    <h1>Project Description</h1>
    <h2>Welcome to Stock Predictions!</h2>
    <h4>Warren Buffet said it best when he said, <i>"If you aren’t thinking about owning a stock for ten years, don’t even think about owning it for ten minutes.”</i> Using Machine Learning, you will be able to use the Stock Prediction tool to help you decide which stocks to invest in. The Stock Prediction model operates by following a stock's previous patterns and predicting a new pattern for the next seven days. Then, you will be able to note the accuracy of each 'trained' prediction pattern.</h4>
    <h4>The code examples below show how our Stocks Prediction model was built.</h4>
    <article>
    <a target="_blank" href="static/images/libraries.png">
      <img src="static/images/libraries.png" alt="Libraries">
    </a>

    <a target="_blank" href="static/images/libraries-2.png">
        <img src="static/images/libraries-2.png" alt="Libraries">
      </a>
    <p><em>Libraries</em></p>
    <h5>The libraries imported into our file.</h5>
    </article>
    <hr>
    <article>
    <a target="_blank" href="static/images/tickers.png">
    <img src="static/images/tickers.png" alt="Tickers">
    </a>

    <a target="_blank" href="static/images/names.png">
      <img src="static/images/names.png" alt="Ticker Names">
      </a>
    <p><em>Obtaining Stock Ticker Information</em></p>
    <h5>The queries above is used to obtain the list of stock tickers and associated company names from Yahoo Finance API</h5>
    </article>
    <hr>
    <article>
      <a href="static/images/stocks.png">
      <img target="_blank" src="static/images/stocks.png" alt="Stock Open and Close Data">
      </a>
      <p><em>Retrieving Stock Open and Close Dates</em></p>
      <h5>This query obtains the stocks' values at each open and close date and time using API from Yahoo Finance.</h5>
    </article>
    <hr>
    <article>
      <a href="static/images/training-1.png">
      <img target="_blank" src="static/images/training-1.png" alt="Training the Data">
      </a>

      <a href="static/images/training-2.png">
        <img target="_blank" src="static/images/training-2.png" alt="Training the Data">
        </a>
      <p><em>Training the Stock Data</em></p>
      <h5>In order to make stock predictions, we must train the data to</h5>
    </article>
    <hr>
    <article>
      <a href="static/images/accuracy.png">
      <img target="_blank" src="static/images/accuracy.png" alt="Stock Prediction Model Accuracy">
      </a>
      <p><em>Stock Model Prediction accuracy</em></p>
      <h5>Lastly, to verify how accurate the stock prediciton model is, the code above will provide print the accuracy for the trained data prediction</h5>
    </article>
    <hr>
  </section>
</body>

</html>
